

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("file:///C:/Users/ThinkPad/Desktop/Bootcamp/task8(assets)/equalizer-landing-page/starter-code/assets/bg-main-mobile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -60px -358px;
}


.equalizer-musicsound-info-pic, .equalizer-info-logos{
    padding-left: 24px;
    padding-right: 24px;
}


.bg-pattern-1{
    display: none;
}





.music-sound{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.454545px;
    color: #191826;
    margin-top: 64px;
}


.music-sound-info{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
    margin-top: 20px;
}


.equalizer-logo{
    margin-top: 39.9px;
}

.black-box-padding-container{
    width: 100%;
    padding-left: 33px;
    padding-right: 39px;
}


.black-box{
    display: flex;
    background: #191826;
    border-radius: 12px;
    width: 100%;
    margin-top: 166px;
    justify-content: center;
}


.illustration-app{
    position: absolute;
    height: 430px;
    width: 208.9719696044922px;
    transform: translateY(-80px);
}


.orange-box{
    background: #FA7453;
    border-radius: 12px;
    width: 100%;
    padding-left: 36px;
    padding-right: 36px;
    position: relative;
    top: -50px;
}


.premium-eq{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #FCFAF9;
    margin-top: 48px;
}


.eq-info{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #FCFAF9;
    margin-top: 12px;
}


.subscription{
    display: flex;
    align-items: center;
    margin-top: 36px;
    margin-bottom: 32px;
}

.amount{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    color: #FCFAF9;
}


.length{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.2px;
    color: #FCFAF9;
    padding-left: 16px;
}


.ios-download{
    display: flex;
    background: #191826;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    height: 61px;
}


.apple{
    padding-right: 7px;
}


.apple-download-text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #FCFAF9;
}


.android-download{
    display: flex;
    background: #FCFAF9;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    height: 61px;
    margin-top: 16px;
    margin-bottom: 48px;
}


.android-download-text{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.18px;
    color: #191826;
}


.final-info{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}


.info-mail{
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #191826;
}


.social-media{
    display: flex;
    margin-top: 64px;
    margin-bottom: 80px;
    padding-left: 24px;
}


.fb-logo,.instagram-logo{
    padding-right: 20px;
}


.music-sound-info-tablet{
    display: none;
}


.black-box-padding-container{
    padding: 0;
}













@media screen and (min-width: 768px){
    .music-sound{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 64px;
        letter-spacing: -0.727273px;
        color: #191826;
        height: 192px;
        width: 520px;
    }


    .bg-pattern-1{
        display: block;
        height: 400px;
        width: 266.6666564941406px;
        position: absolute;
        right: -34px;
        top: -34px;
    }


    .equalizer-musicsound-info-pic-tablet{
        display: flex;
        position: relative;
        overflow: hidden;
        height: 470px;
    }


    .equalizer-musicsound-info-pic{
        display: flex;
        flex-direction: column;
        padding-left: 39px;
    }
    

    body{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        background-image: url("file:///C:/Users/ThinkPad/Desktop/Bootcamp/task8(assets)/equalizer-landing-page/starter-code/assets/bg-main-mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200%;
        background-position: -60px -358px;
    }


    header{
        width: 100%;
    }


    .music-sound-info-tablet{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #191826;
        /* width: 514px; */
        margin-top: 28px;
        display: block;
    }

    .music-sound-info{
        display: none;
    }



    .illustration-app{
        position: absolute;
        height: 555px;
        width: 270.9719696044922px;
        transform: translate(-162px, -140px);
    }



    .orange-box{
        background: #FA7453;
        border-radius: 12px;
        height: 546px;
        width: 399px;
        position: absolute;
        top: 870px;
        transform: translate(-50%, 0);
        left: 50%;
        margin-left: 71px;
    }



    .black-box{
        height: 600px;
        margin-top: 250px;
    }


    .black-box-padding-container{
        padding-left: 33px;
        padding-right: 39px;
    }



    .bg-pattern-2{
        height: 420px;
        width: 280px;
        position: relative;
        top: -32px;
        left: 5px;
    }


    .equalizer-info-logos{
        margin-top: 182px;
        padding-left: 33px;
        margin-bottom: 85px;
    }


    .social-media{
        display: flex;
        margin-top: 180px;
        padding-right: 39px;
        margin-bottom: 0;
    }



    footer{
        display: flex;
        align-content: center;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }




    .equalizer{
        margin-bottom: 32px;
    }


}













/* 
@media screen and (min-width: 1024px)
 */
